@using logiWeb.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title><Produto></title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    
    <table border=1>
        <tr>
            <td>Nome</td>
            <td>Preço</td>
        </tr>
        @foreach (Cargo p in Model)
        {
        <tr>
            <td>@p.Id</td>
            <td>@p.Nome</td>
            <td>@p.Descricao</td>
        </tr>
        }
    </table>

</body>
</html>