@using logiWeb.Models
@{
    ViewBag.Title = "Entregas"; 
    Layout = "~/Views/Templates/_Layout.cshtml";
}
@{
  Layout = "~/Views/Templates/_Menu.cshtml";


  Random number = new Random();
}

@section styles {
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css">
}

<style>

  [data-invalid]{
    visibility: hidden;
  }
</style>
<script>
    const _ID_FUNCIONARIO = @ViewBag.IdFuncionario; 
</script>

<div class="container py-4">
 <label class="fw-bold">Entregas</label>
 <div class="row py-4">
     <div class="col-md-3">
        <label for="filter_cargo">Criado Por</label>
            <div class="input-group input-group-sm">
            <select id="id_funcionario"   class="form-select ">
                <option value="">TODOS</option>
            </select>
        </div>
    </div>
     <div class="col-md-3">
        <label for="filter_motorista">Entregue Por</label>
            <div class="input-group input-group-sm">
            <select id="id_motorista"   class="form-select ">
                <option value="">TODOS</option>
            </select>
        </div>
    </div>
     <div class="col-md-2">
          <div class="d-flex h-100 flex-column justify-content-end align-items-bottom">
              <button id="btPesquisar" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>  Pesquisar
              </button>
          </div>
      </div>
  </div>
  <div class="row py-5">
      <div class="d-flex justify-content-end">
         <button class="btn btn-sm btn-success rounded-pill" id="btNovaEntrega">
           <i class="fa-solid fa-circle-plus"></i> Criar Entrega 
         </button>
      </div>
      <div class="table-responsive">
          <table data-pagination="true" class="border-0">
                <thead>
                    <th data-field="id">
                        Entrega
                    </th>
                    <th data-field="nome_funcionario">
                        Criada por 
                    </th>
                    <th data-field="nome_motorista">
                        Motorista
                    </th>
                    <th data-field="status">
                        Status
                    </th>
                    <th data-field='id' data-width='150' data-formatter="buttons">
                        Ações
                    </th>
                </thead>
          </table>
      </div>
  </div>
</div>


<template id="template_cad_entrega">
    <div class="container">
        <div class="row">
             <div class="col-md-12 mb-3">
                <label for="">Selecione o Motorista</label>
                <div class="input-group input-group-sm">
                    <select id="id_motoristas"   class="form-select ">
                        <option value="">SELECIONE</option>
                    </select>
                </div>
            </div>
             <div class="col-12 mb-2">
                <small class="text-muted">
                   Atribuir ordens a entrega  
                </small>
                <hr class="m-0" style="height:3px;border-radius:15px;background:#333;">
            </div>
            <div class="col-md-12 mb-2">
                <label for="">Ordem <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                   <input id="id_ordem" class="form-control form-control-sm"/>
                   <div class="input-group-prepend">
                     <button id="btPesquisarOrdemId" class="btn btn-sm btn-primary">
                          <i class="fa-solid fa-plus"></i> Adicionar
                     </button>
                   </div>
                </div>
            </div>
            </div>
            <div class="col-md-12">
                <table id="tblEntrega">
                    <thead>
                        <th data-field="id_ordem"># Ordem</th>
                        <th data-field="endereco">Endereço</th>
                    </thead>
                </table>
            </div>
      
        </div>
    </div>
</template>



<template id="template_detalhe_entrega">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="">Selecione a Ordem </label>
                    <div class="input-group input-group-sm">
                    <select id="id_ordem"   class="form-select ">
                        <option value="">SELECIONE</option>
                    </select>
                    <div class="input-group-prepend ps-2">
                        <button id="btPesquisarOrdem" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i> Ver detalhe
                        </button>
                   </div>
                </div>
            </div>
             <div class="col-12">
                <small class="text-muted">
                    Dados da Ordem 
                </small>
                <hr class="m-0" style="height:3px;border-radius:15px;background:#333;">
            </div>
            <div class="col-md-2">
                <label for="qtd_itens">Qtd. Itens <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" id="qtd_itens">
                </div>
            </div>
            <div class="col-md-2">
                <label for="volume">Volume <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" id="volume">
                </div>
            </div>
            <div class="col-md-3">
                <label for="peso">Peso <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend px-1 rounded" style="background:#ccc;">
                        <b>
                            <small>KG</small>
                        </b>
                    </div>
                    <input class="form-control" type="text" id="peso">
                </div>
            </div>
            <div class="col-md-5">
                <label for="obs_ordem">Observacao</label>
                <div class="input-group input-group-sm">
                    <input class="form-control" type="text" maxlength="100" id="obs_ordem">
                </div>
            </div>
            <div class="col-12">
                <small class="text-muted">
                    Destino de entrega
                </small>
                <hr class="m-0" style="height:3px;border-radius:15px;background:#333;">
            </div>
            <div class="col-md-4">
                <label for="">Estado <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <input type="text" id="estado" maxlength="50" class="form-control">
                </div>
            </div>
            <div class="col-md-8">
                <label for="">Cidade <span class="text-danger">*</span></label>
                 <div class="input-group input-group-sm">
                    <input type="text" id="cidade" maxlength="50" class="form-control">
                </div>
            </div>
            <div class="col-md-4">
                <label for="">Bairro <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <input type="text" id="bairro" maxlength="50" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <label for="">Logradouro</label>
                <div class="input-group input-group-sm">
                    <input type="text" id="logradouro" maxlength="150" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <label for="">Id. Casa <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <input type="text" id="nr_casa" maxlength="15" class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <label for="">CEP <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                    <input type="text" id="cep" class="form-control">
                </div>
            </div>
            <div class="col-md-10">
                <label for="">Complemento</label>
                <div class="input-group input-group-sm">
                    <input type="text" maxlength="100" id="complemento" class="form-control">
                </div>
            </div>
             <div class="col-md-12 mb-3">
                <label for="">Selecione o status </label>
                    <div class="input-group input-group-sm">
                    <select id="id_status"   class="form-select ">
                        <option value="">SELECIONE</option>
                    </select>
                    <div class="input-group-prepend ps-2">
                        <button  id="btAlterarStatus" class="btn btn-sm btn-success" id="btnStatus">
                            <i class="fa-solid fa-magnifying-glass"></i> Alterar status
                        </button>
                   </div>
                </div>
            </div>
         
</template>

@section events {
     <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
     <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
     <script src="~/js/events/entrega.js?=@number.Next(0,19999)"></script>
}