@using logiWeb.Models
@{
    ViewBag.Title = "Entregas"; 
    Layout = "~/Views/Templates/_Layout.cshtml";
}
@{
  Layout = "~/Views/Templates/_Menu.cshtml";


  Random number = new Random();
}

@section styles {
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css">
}

<style>


  
  [data-invalid]{
    visibility: hidden;
  }
</style>
<div class="container py-4">
 <label class="fw-bold">Entregas</label>
 <div class="row py-4">
     <div class="col-md-3">
        <label for="filter_cargo">Criado Por</label>
            <div class="input-group input-group-sm">
            <select id="id_funcionario"   class="form-select ">
                <option value="">TODOS</option>
            </select>
        </div>
    </div>
     <div class="col-md-3">
        <label for="filter_motorista">Entregue Por</label>
            <div class="input-group input-group-sm">
            <select id="id_motorista"   class="form-select ">
                <option value="">TODOS</option>
            </select>
        </div>
    </div>
     <div class="col-md-2">
          <div class="d-flex h-100 flex-column justify-content-end align-items-bottom">
              <button id="btPesquisar" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-magnifying-glass"></i>  Pesquisar
              </button>
          </div>
      </div>
  </div>
  <div class="row py-5">
      <div class="d-flex justify-content-end">
         <button class="btn btn-sm btn-success rounded-pill" id="btNovaEntrega">
           <i class="fa-solid fa-circle-plus"></i> Criar Entrega 
         </button>
      </div>
      <div class="table-responsive">
          <table data-pagination="true" class="border-0">
                <thead>
                    <th data-field="nome_funcionario">
                        Criada por 
                    </th>
                    <th data-field="nome_motorista">
                        Motorista
                    </th>
                    <th data-field="status">
                        Status
                    </th>
                    <th data-field='id' data-width='150' data-formatter="buttons">
                        Ações
                    </th>
                </thead>
          </table>
      </div>
  </div>
</div>


<template id="template_cad_entrega">
    <div class="container">
        <div class="row">
             <div class="col-md-12 mb-3">
                <label for="">Selecione o Motorista</label>
                    <div class="input-group input-group-sm">
                    <select id="filter_motorista"   class="form-select ">
                        <option value="">SELECIONE</option>
                    </select>
                    <div class="input-group-prepend ps-2">
                        <button class="btn btn-sm btn-success">
                            <i class="fa-solid fa-magnifying-glass"></i> Gerar Entrega
                        </button>
                   </div>
                </div>
            </div>
             <div class="col-12 mb-2">
                <small class="text-muted">
                   Atribuir pedidos a entrega  
                </small>
                <hr class="m-0" style="height:3px;border-radius:15px;background:#333;">
            </div>
            <div class="col-md-6 mb-2">
                <label for="">Pedido <span class="text-danger">*</span></label>
                <div class="input-group input-group-sm">
                   <input class="form-control form-control-sm"/>
                   <div class="input-group-prepend">
                     <button class="btn btn-sm btn-primary">
                          <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
                     </button>
                   </div>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <label for="">Pedido <span class="text-danger">*</span></label>
                    <div class="input-group input-group-sm">
                    <select id="filter_cargo"   class="form-select ">
                        <option value="">SELECIONE</option>
                    </select>
                    <div class="input-group-prepend">
                        <button class="btn btn-sm btn-success">
                            <i class="fa-solid fa-circle-plus"></i> Adicionar 
                        </button>
                   </div>
                </div>
            </div>
            <div class="col-12 mb-2">
                <small class="text-muted">
                   Destino  
                </small>
                <hr class="m-0" style="height:3px;border-radius:15px;background:#333;">
            </div>
            <div class="col-12 mb-2">
                <div class="d-flex">Secretaria Especial de Comunicação Social do Senado Federal</div>
                <div class="d-flex">Praça dos Três Poderes, Anexo 1, 21° andar</div>
                <div class="d-flex">70165-920  Brasília, DF</div>
    
            </div>
            <div class="col-md-12">
                <table>
                    <thead>
                        <th data-field="id_ordem"># Ordem</th>
                        <th data-field="">Ações</th>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</template>

@section events {
     <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
     <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
     <script src="~/js/events/entrega.js?=@number.Next(0,19999)"></script>
}