@{
  Layout = "~/Views/Templates/_Menu.cshtml";
  ViewBag.Title = "Ordens"; 

  Random number = new Random();
}

@section styles {
    <link rel="stylesheet" href="~/lib/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="~/lib/jquery-confirm/jquery-confirm.min.css">
}

<style>
  
  [data-invalid]{
    visibility: hidden;
  }
</style>
<div class="container py-4">
 <label class="fw-bold">Ordem</label>
 <div class="row py-4">

      <div class="col-md-4">
          <label for="filtro_nome" class="fw-bold">Nome</label>
          <div class="input-group input-group-sm">
              <input type="text" id="filtro_nome" class="form-control form-control-sm">
          </div>
      </div>
      
  </div>
  <div class="row py-5">
      <div class="d-flex justify-content-end py-1">
            <button id="btCadastrar" class="btn btn-sm btn-success rounded-pill">
               <i class="fa-solid fa-circle-plus"></i>  Nova Ordem 
            </button>
       </div>
      <div class="table-responsive">
          <table data-pagination="true" class="border-0">
                <thead>
                    <th data-field="nome_cpf">
                        Status 
                    </th>
                    <th data-field="cargo">
                        Cargo 
                    </th>
                    <th data-field='id' data-width='150' data-formatter="buttons">
                        Ações
                    </th>
                </thead>
          </table>
      </div>
  </div>
</div>


<template id="template_cad_cliente">
    <div class="container">
        <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="nome">Nome <span class="text-danger">*</span></label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="nome">
                    </div>
                </div>
                <div class="col-md-6 mb-2">
                    <label for="telefone">Telefone</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="telefone">
                    </div>
                </div>
                <div class="col-md-12 mb-2">
                    <label for="nome">E-mail</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="telefone">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="dat_nasc">Data Nascimento <span class="text-danger">*</span></label>
                    <div class="input-group input-group-sm">
                        <input type="date" class="form-control form-control-sm" id="dat_nasc">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="cpf">CPF <span class="text-danger">*</span></label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="cpf">
                    </div>
                </div>
                <div class="col-md-4 mb-2">
                    <label for="rg">RG</label>
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control form-control-sm" id="rg">
                    </div>
                </div>
        </div>
    </div>
</template>

@section events {
     <script src="~/lib/bootstrap-table/bootstrap-table.min.js"></script>
     <script src="~/lib/jquery-confirm/jquery-confirm.min.js"></script>
     <script src="~/js/events/funcionario.js?=@number.Next(0,19999)"></script>
}